# Ignore tout par défaut
**

# Inclure uniquement les fichiers nécessaires au build Docker
!cloudbuild.yaml
!requirements.txt

# Frontend (interface web)
!public/
!public/**

# Backend & Dockerfile
!traducteur-audio/Dockerfile
!traducteur-audio/app.py
!traducteur-audio/models/**
