# Exclure les dossiers volumineux d’entraînement
traducteur-audio/TTS/
traducteur-audio/opus_datasets/
traducteur-audio/results/
traducteur-audio/fine-tuned-model/

# Ignorer les environnements virtuels et fichiers temporaires
*.pyc
__pycache__/
*.log
*.tmp
venv/
# Ignorer le Dockerfile dans traducteur-audio (celui que vous ne voulez pas suivre)
traducteur-audio/Dockerfile

# Ignorer le dossier de clone bare (s'il existe)
traducteur-universel.git/
